:host {
  box-sizing: border-box;
}

:host([disabled]) {
  pointer-events: none;
}

button {
  cursor: pointer;
  border: none;
  line-height: 20px;
  font-size: 14px;
  padding: 4px 12px;
  border-radius: 3px;
  color: white;
  background-color: var(--color-caribbean-green);

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.4;
  }
}
